@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: slowSpin 18s linear infinite;
  }
  @keyframes slowSpin {
    100% { transform: rotate(360deg); }
  }
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}